.attachmentBar {
  width: 100%;
  height: 108px;
  overflow-x: auto;
}
.attachmentBar ul {
  display: flex;
  flex-direction: row;
}
.attachmentBar ul li:first-child{
  margin-left: 24px;
}
.attachmentBar ul li img {
  margin-top: 4px;
  margin-right: 10px;
}

.attachmentHolder {
  height: 108px;
  width: 172px;
  display: flex;
  flex-direction: column;
  padding: 20px 12px 6px 12px;
  word-wrap: break-word;
  font-size: 11px;
  text-overflow: ellipsis;
  overflow: hidden;
  background-size: cover;
  background: url('../../assets/icons/bg_attachment_other.svg') no-repeat;
  color: #282828;
}
.fileName {
  display: flex;
  flex: 1;
  align-items: center;
  height: 48px;
}
.fileName p {
  font-size: 13px;
  line-height: 16px;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  max-height: 100%;
  margin: 0;
}
.detail {
  display: flex;
  width: 100%;
  height: 32px;
  margin-bottom: 2px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding-right: 48px;
  font-size: 16px;
}
.detail p {
  display: flex;
  flex: 1;
  align-items: center;
  margin: 0;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
}
.detail  span {
  opacity: 0;
  flex: none;
  display: flex;
  color: black;
}
.default,
.gif,
.other {
  background: url('../../assets/icons/bg_attachment_other.svg') no-repeat;
  color: #282828;
  box-shadow: 0 2px 4px rgbargb(40, 40, 40, .32);
}
.default .detail p,
.gif .detail p,
.other .detail p {
  color: 282828;
}
.archive {
  background: url('../../assets/icons/bg_attachment_zip.svg') no-repeat;
  color: #502D96;
}
.archive .detail p {
  color: #502D96;
}
.DOC {
  background: url('../../assets/icons/bg_attachment_document.svg') no-repeat;
  color: #2878CD;
}
.DOC .detail p {
  color: #2878CD;
}
.PDF {
  background: url('../../assets/icons/bg_attachment_pdf.svg') no-repeat;
  color: #CD2828;
}
.PDF .detail p {
  color: #CD2828;
}
.audio {
  background: url('../../assets/icons/bg_attachment_audio.svg') no-repeat;
  color: #28CD96;
}