.navbar {
  display: flex;
  height: 56px;
  background-color: #F0F0F0;
  border-bottom: 1px solid rgba(50,61,71,.08);
  padding: 0 8px;
  align-items: center;
  overflow: hidden;
  width: 100%;
  /* position: fixed; */
  flex: none;
  top: 0;
  left: 0;
  z-index: 3;
  transform: translateZ(0);
}
.navbar > a {
  width: 40px;
  display: flex;
  height: 40px;
  flex: none;
  justify-content: center;
  align-items: center;
  position: relative;
}
.navbar > a.active {
  border-radius: 8px;
  background-color: rgba(50, 61, 71, .08)!important;
}
.navbar > a img {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.navbar > a span{
  position: absolute;
  right: 0px;
  top: 0px;
  min-width: 20px;
  border-radius: 20px;
  background-color: #FF6464;
  text-align: center;
  color: white;
  height: 20px;
  line-height: 20px;
  text-align: center
}
.navbar a i{
  margin: 0;
  /*height: 24px;*/
}
.navbar > a:first-child {
  margin-left: 0;
}
.navbar > a {
  margin-left: 16px;
}
.appSwitcher {
  display: flex;
  -webkit-tap-highlight-color: transparent;
  flex-direction: column;
  transition: all .2s;
  touch-action: manipulation;
}
.appSwitcher.active {
  transition: all .2s;
}
.appSwitcher.active > a{
  transform: translate3d(0, 24px, 0);
  font-size: 11px;
  font-weight: normal;
  color: rgba(50, 61, 71, .24);
  transition: all .2s;
}
.appSwitcher.active small a{
  transform: translate3d(0, -18px, 0);
  font-size: 14px;
  font-weight: bold;
  transition: all .2s;
  color: rgba(50, 61, 71, .8);
}
.appSwitcher.deActive > a{
  transform: translate3d(0, 0, 0);
  font-size: 14px;
  font-weight: bold;
  color: rgba(50, 61, 71, .8);
  transition: all .2s;
}
.appSwitcher.deActive small a{
  transform: translate3d(0, 0, 0);
  font-size: 11px;
  font-weight: normal;
  color: rgba(50, 61, 71, .24);
  transition: all .2s;
}
.appSwitcher a {
  font-size: 14px;
  width: auto;
  transform: translate3d(0, 0, 0);
  font-weight: bold;
  transition: all .2s;
  text-align: center;
  color: rgba(50, 61, 71, .8);
  user-select: none;
}
.appSwitcher small {
  display: flex;
  transition: all .2s;
  justify-content: center;
}
.appSwitcher small a {
  font-size: 11px;
  font-weight: normal;
  transition: all .2s;
  color: rgba(50, 61, 71, .24);
}
.navbar svg {
  max-width: 40px;
  max-height: 40px;
}
.filler {
  width: 100%;
  display: flex;
}