.suggestionWrpper {
  display: flex;
  flex-direction: column;
  min-height: 48px;
  flex: none;
  width: 100%;
}
.input {
  display: flex;
  min-height: 48px;
  flex-wrap: wrap;
  padding: 6px 16px;
}
.input > span {
  color: #323D47;
  opacity: .4;
  /*padding-left: 16px;*/
  padding-right: 8px;
  line-height: 32px;
  font-size: 14px;
}
.input input {
  border: none;
  height: 32px;
  min-width: 150px;
  font-size: 14px;
  width: 128px;
  display: flex;
  flex: 1;
}
.input input:focus {
  border: none;
  box-shadow: none;
}
.suggests {
  border-top: 1px solid rgba(50,61,71,.16);
  background-color: #F0F0F0;
}
.suggests li{
  height: 56px;
  border-bottom: 1px solid rgba(50,61,71,.16);
  display: flex;
  align-items: center;
  color: rgba(50,61,71,.64);
  /*padding: 0 16px;*/
}

.suggests li > *:first-child{
  width: 32px;
  height: 32px;
  border-radius: 3px;
  margin: 0 16px;
}
.suggests li div{
  display: flex;
  flex-direction: column;
}
.suggests li p{
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 2px;
}
.suggests li span{
  font-size: 12px;
  line-height: 17px;
}
.suggests li b{
  color: rgba(50,61,71,1)
}
.selectItemControl{
  height: 36px;
  width: 100%;
  background-color: rgba(10,10,10,.1);
  padding: 0 16px;
  display: flex;
  align-items: center
}
.selectItemControl span{
  display: flex;
  width: 100%;
}

.A path{
  fill: #8895A1!important;
}
.B path{
  fill: #60BF70!important;
}
.C path{
  fill: #EBC246!important;
}
.D path{
  fill: #F26161!important;
}
.E path{
  fill: #8669BF!important;
}
.F path{
  fill: #508EE6!important;
}
.G path{
  fill: #6CD9D9!important;
}