.signature {
  width: 100%;
}
.signature label {
  padding: 16px 16px 20px;
  width: 100%;
  color: rgba(50, 61, 71, .72);
  display: flex;
  font-size: 14px;
}
.signature label > span:first-child{
  display: flex;
  flex: 1;
}
.signature [contenteditable] {
  margin: 16px 16px 20px;
  min-height: 240px;
  margin: 0 8px 8px;
  border: 1px solid #DDDFE0;
  border-radius: 4px;
  padding: 8px;
  color: #323D47;
  font-size: 14px;
}
.signature button {
  margin-left: auto;
  margin-right: 8px;
  display: block;
}