.textStyle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 135px;
  font-size: 14px;
  line-height: 19px;
  color: black;
  padding-left: 8px
}
textIdStyle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 135px;
  font-size: 12px;
  line-height: 17px;
  color: rgba(0,0,0,.48);
  padding-left: 8px
}