.commentBoard {
  background: #F0F0F0;
}
.commentBoard:before {
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 0 12px;
  border-color: transparent transparent transparent #F0F0F0;
}
.loadMore {
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.loadMore i{
  opacity: .24;
  margin-right: 16px;
  margin-bottom: 6px;
}
.commentRow{
  width: 100%;
  padding: 8px 16px 8px 12px;
  display: flex;
}
.commentContent {
  display: flex;
  padding-left: 12px;
  flex-direction: column;
  width: 100%;
}
.commentHead {
  display: flex;
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 2px;
}
.commentHead a:hover {
  color: rgba(50,61,71,1);
}
.commentHead a{
  display: flex;
  width: 100%;
  color: rgba(50,61,71,1);
  font-weight: bold;
}
.commentHead > span{
  display: flex;
  flex: none;
  font-size: 13px;
  color: rgba(50,61,71,.40);
}
.commentContent p{
  width: 100%;
  font-size: 13px;
  line-height: 16px;
}
.commentInput {
  height: 56px;
  background-color: white;
  box-shadow: 0 0 16px rgba(50,61,71,.32);
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
.commentInput > div {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 14px;
  left: 12px
}
.commentInput input{
  height: 100%;
  background-color: transparent;
  border-radius: 0;
  z-index: 1;
  color: rgba(50,61,71,1);
  width: 100%;
  border: none;
  font-size: 13px;
  font-weight: 300;
  padding: 8px 16px 8px 56px;
}
.commentInput input:hover ,
.commentInput input:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 16px rgba(50,61,71,.32);
}