.commentBoard {
  background-color: #F0F0F0;
  overflow: hidden;
  flex: none;
}
.commentBoard:before {
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 0 12px;
  border-color: transparent transparent transparent #F0F0F0;
}
.loadMore {
  height: 48px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.loadMore i{
  opacity: .24;
  margin-right: 16px;
  margin-bottom: 6px;
}
.commentRow{
  width: 100%;
  padding: 8px 16px 8px 12px;
  display: flex;
}
.commentContent {
  display: flex;
  padding-left: 12px;
  flex-direction: column;
  width: 100%;
}
.commentHead {
  display: flex;
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 2px;
}
.commentHead a:hover {
  color: rgba(50,61,71,1);
}
.commentHead a{
  display: flex;
  width: 100%;
  color: rgba(50,61,71,1);
  font-weight: bold;
}
.commentHead > span{
  display: flex;
  flex: none;
  font-size: 13px;
  color: rgba(50,61,71,.40);
}
.commentContent p{
  width: 100%;
  font-size: 13px;
  line-height: 16px;
  word-wrap: break-word;
  word-break: break-word;
}
.commentInput {
  height: 64px;
  background-color: #F6F6F7;
  /* box-shadow: 0 0 16px rgba(50,61,71,.32); */
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
  padding: 12px;
}
.commentInput > div:first-child {
  width: 28px;
  height: 28px;
  margin-right: 12px;
  display: flex;
  flex: none;
}
.commentInput input{
  height: 100%;
  border-radius: 0;
  z-index: 1;
  color: rgba(50,61,71,1);
  width: 100%;
  border: none;
  font-size: 13px;
  font-weight: 300;
  background: #FFFFFF;
  border: 1px solid #DDDFE0;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  flex: 1;
}
.commentInput input:hover ,
.commentInput input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.Rtl {
  direction: rtl;
}