.selectedItem {
  background-color: #83d8ad!important;
  color: #323D47;
}
.selectedItem:hover {
  color: #323D47;
}
.placechips{
  height: 24px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  background-color: rgba(50,61,71,.16);
  color: rgba(50,61,71,1);
  overflow: hidden;
  margin-right: 8px;
  align-self: center;
  padding-right: 3px;
  margin-top: 12px;
  margin-bottom: 12px;
  flex: none;
}
.placechips img{
  height: 24px;
  width: 24px;
  margin-right: 3px;
}