.badge {
  background-color: white;
  width: 108px;
  height: 32px;
  border-radius: 50px;
  box-shadow: 0 2px 8px rgba(50,61,71,.40);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 68px;
  z-index: 66;
}
.badge span{
  color: #3296FF;
  text-align: center;
  width: 100%;
  line-height: 32px;
  font-size: 13px;
  display: block;
  font-weight: bold;
}
.badge .count{
  width: 20px;
  height: 20px;
  border-radius: 16px;
  background-color: #3296FF;
  color: #ffffff;
  position: absolute;
  right: -8px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  top: -8px;
}