
.attachmentList {
  display: flex;
  flex-wrap: wrap;
}
.attachmentList li{
  display: flex;
  flex: none;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 8px;
  overflow: visible;
  position: relative;
  height: 40px;
}

.attachmentList li.uploading a:not(.attdl) {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 121, 242, 0.4);
  box-shadow: 0 2px 4px rgba(0, 121, 242, 0.16);
}

.attachmentList li.failed a:not(.attdl) {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 51, 68, 0.4);
  box-shadow: 0 2px 4px rgba(255, 51, 68, 0.16);
}

.attachmentList li.failed a:not(.attdl) span {
  color: #ff3344;
}

.attachmentList li.failed a:not(.attdl) svg {
  margin: 0 8px 0 12px;
}

.attachmentList li.failed a:not(.attdl) svg:first-of-type {
  display: block;
}

.attachmentList li.failed a:not(.attdl) svg:last-of-type {
  display: none;
}

.attachmentList li.failed .attdl.del {
  display: none;
}

.attachmentList li.failed:hover a:not(.attdl) svg:first-of-type {
  display: none;
}

.attachmentList li.failed:hover a:not(.attdl) svg:last-of-type {
  display: block;
}

.attachmentList li.failed:hover .failedprogress div {
  opacity: 0;
}

.attachmentList li {
  height: 40px;
  max-width: 240px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  margin-right: 16px;
  transition: all .2s;
}

.attachmentList li .icon {
  z-index: 2;
  border-radius: 2px;
  flex: none;
  width: 32px;
  height: 32px;
  overflow: hidden;
  box-sizing: content-box;
  border: 1px solid rgba(50, 61, 71, 0.32);
  margin: 0 4px;
}
.attachmentList li .icon img {
  border-radius: 2px;
  flex: none;
  object-fit: cover;
}
.attachmentList li .delete {
  display: none;
  width: 100%;
  height: 100%;
  background: #FF3344;
  padding: 4px;
}

.attachmentList li span {
  z-index: 2;
  padding-right: 8px;
  font-size: 14px;
  color: #323D47;
  max-width: 192px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.attachmentList li:hover {
  background: #323D47;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}
.attachmentList li:hover .icon img{
  display: none;
}
.attachmentList li:hover .icon .delete{
  display: flex;
}
.attachmentList li:hover span {
  color: #ffffff;
}

.attachmentList li .attdl.del {
  width: 16px;
  height: 16px;
  left: -4px;
  top: -4px;
  opacity: 0;
  border-radius: 8px;
  border: none;
  right: auto;
  bottom: auto;
  box-shadow: 0 1px 2px rgba(230, 0, 38, 0.5);
}

.attachmentList li .attdl.del:hover {
  background-color: #e60026;
}

.attachmentList li .attdl.del svg {
  transform: scale(0.75, 0.75);
  transform-origin: center center;
}

.attachmentList li.uploadprogress {
  z-index: 1;
  opacity: .16;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.attachmentList li.uploadprogress div {
  background: url("assets/icons/progress-bg.svg") repeat;
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% + 24px);
  height: 100%;
  animation-name: attachment-progress;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.attachmentList li .failedprogress {
  z-index: 1;
  opacity: .16;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.attachmentList li .failedprogress div {
  background: url("assets/icons/progress-bg-red.svg") repeat;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.attachmentList li:hover .attdl.del {
  opacity: .8;
}