.tasksList {
  display: flex;
  flex-direction: column;
}
.tasksList h3 {
  line-height: 16px;
  font-size: 12px;
  padding: 24px 16px 8px;
  font-weight: bold;
  color: #323D47;
  margin: 0;
}
.tasksList .force {
  color: #FF3344;
}
.tasksList .pending {
  color: #0079F2;
}
.tasksContainer {
  height: calc(100% - 56px);
  overflow: hidden;
  z-index: 22;
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
  will-change: scroll;
  touch-action: auto;
  background-color: #EEEFEF;
}

.taskView {
  height: var(--app-height);
  margin-top: -56px;
  overflow: hidden;
}

.postOptions {
  background-color: #F0F0F0;
  position: fixed;
  left: 0;
  top: 56px;
  z-index: 4;
  right: 0;
  display: none;
}
.postOptions.opened {
  display: block;
}
.postOptions ul{
  padding: 8px 0;
  flex-direction: column;
}
.postOptions li{
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
}
.postOptions li.hr{
  padding: 0;
  height: 1px;
  display: flex;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  border-top: 1px solid rgba(50, 61, 71,0.08);
}
.postOptions a{
  width: 100%;
  display: flex;
  color: rgba(50, 61, 71, 0.72);
  font-size: 14px;
  padding: 0 16px;
}
.postOptions i{
  opacity: .72;
}
.postOptions p{
  color: rgba(50, 61, 71, 0.4);
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(50,61,71,.40)
}
.taskRow {
  min-height: 56px;
  display: flex;
  align-items: center;
}
.taskRowIcon {
  width: 56px;
  justify-content: center;
  display: flex;
  align-self: flex-start;
  margin-top: 12px;
  flex: none;
}
.rowWithSuggest .taskRowItem {
  margin-left: -56px;
}
.rowWithSuggest .taskRowItem h4 {
  padding-left: 56px;
}
.rowWithSuggest .taskRowItem > div > div:first-child{
  margin-left: 56px;
  min-height: 56px;
  padding: 12px 0 6px;
}
.rowWithSuggest .taskRowItem > div > div:first-child input{
  height: 28px;
}
.taskRowItem {
  display: flex;
  flex: 1;
  min-height: 56px;
  align-items: center;
}
.taskRowItem.vertical {
  flex-direction: column;
  padding-top: 12px;
  align-items: flex-start;
}
.taskRowItem h4 {
  display: flex;
  max-height: 16px;
  flex: 1;
  width: 100%;
  padding-right: 8px;
  margin-bottom: 12px;
}
.taskRowItem h4 i{
  margin: 0 8px;
}
.taskRowItem h4 span {
  display: flex;
  flex: 1;
  font-size: 12px;
  opacity: 0.64;
  color: #323D47;
  font-weight: bold;
  line-height: 15px;
}
.taskRowItem h1,
.taskRowItem h1 input{
  font-size: 20px;
  line-height: 24px;
}
.taskRowItem p{
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 16px;
  white-space: pre-line;
  color: #323D47;
}
.taskRowItem input ,
.taskRowItem textarea {
  height: 24px;
  border: none;
  box-shadow: none;
  outline: none;
  line-height: 1.4;
  font-size: 14px;
  width: 100%;
  color: #323D47;
}
.taskBinder {
  display: flex;
  padding: 0 12px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  justify-content: center
}
.taskBinder .taskBinderButton {
  margin: 0 4px;
  max-width: 51px;
  height: 56px;
  display: flex;
  opacity: .64;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.todoList {
  margin-left: -56px;
  margin-bottom: 24px;
}
.todoList li{
  /* min-height: 32px; */
  display: flex;
  align-items: center;
  position: relative;
}
.todoList li label{
  font-size: 14px;
  padding: 6px 0;
  color: #323D47;
}
.todoList li i{
  margin: 8px 22px 0;
  transform: scale(.8, .8);
  display: inline-flex;
  align-self: flex-start;
}
.todoList li input[type="checkbox"]{
  height: 26px;
  flex: none;
  align-self: flex-start;
  width: 56px;
  opacity: 0;
  z-index: 2;
  position: absolute;
}
.todoList li input[type="checkbox"] + i{
  display: none;
}
.todoList li input[type="checkbox"] + i + i{
  display: inline-flex;
}
.todoList li input[type="checkbox"]:checked + i{
  display: inline-flex;
}
.todoList li input[type="checkbox"]:checked + i + i{
  display: none;
}
.todoList li input[type="text"]{
  width: 100%;
  height: 32px;
  font-size: 14px;
}
.setDateTime {
  background: #F5F5F5;
  list-style: none;
  width: calc(100% + 56px);
  margin-left: -56px;
  padding-left: 56px;
}
.setDateTime time{
  font-size: 14px;
  line-height: 1.4;
  height: 17px;
  color: #323D47;
  display: flex;
}
.setDateTime li{
  margin-bottom: 8px;
  padding-bottom: 8px;
  padding-top: 14px;
  height: 40px;
  margin-right: 32px;
  border-bottom: 1px solid rgba(50, 61, 71, .32);
}
.setDateTime li input{
  height: 17px;
  font-size: 14px;
  background: none;
}
.taskRowItem textarea.descriptionElement {
  width: 100%;
  font-size: 14px;
  line-height: 1.4;
  min-height: 96px;
}