.tasksList {
  display: flex;
  flex-direction: column;
}
.tasksList h3 {
  line-height: 16px;
  font-size: 12px;
  padding: 24px 16px 8px;
  font-weight: bold;
  color: #323D47;
  margin: 0;
}
.tasksList .force {
  color: #FF3344;
}
.tasksList .pending {
  color: #0079F2;
}
.tasksContainer {
  height: calc(100% - 56px);
  overflow: hidden;
  z-index: 22;
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
  will-change: scroll;
  touch-action: auto;
  background-color: #EEEFEF;
}

.taskView {
  height: 100vh;
  margin-top: -56px;
  overflow: hidden;
}

.postOptions {
  background-color: #F0F0F0;
  position: fixed;
  left: 0;
  top: 56px;
  z-index: 2;
  right: 0;
  display: none;
}
.postOptions.opened {
  display: block;
}
.postOptions ul{
  padding: 8px 0;
  flex-direction: column;
}
.postOptions li{
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
}
.postOptions li.hr{
  padding: 0;
  height: 1px;
  display: flex;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  border-top: 1px solid rgba(50, 61, 71,0.08);
}
.postOptions a{
  width: 100%;
  display: flex;
  color: rgba(50, 61, 71, 0.72);
  font-size: 14px;
  padding: 0 16px;
}
.postOptions i{
  opacity: .72;
}
.postOptions p{
  color: rgba(50, 61, 71, 0.4);
}