.searchWrp {
  opacity: 1;
  width: 100%;
  display: flex;
  flex: 1;
}
.searchWrp > div {
  width: 100%;
}
.searchScrollbar {
  height: calc(100% - 56px);
  overflow: auto;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
}
.options {
  /* padding: 8px 0; */
  display: flex;
  background: #323D47;
  padding-bottom: 8px;
  flex: 1;
  flex-direction: column;
}
.searchWrp .block {
  margin: 8px 8px 0;
  background: #FFFFFF;
  border-radius: 6px;
  overflow: hidden;
}
.searchWrp .block {
  margin: 8px 8px 0;
  background: #FFFFFF;
  border-radius: 6px;
  overflow: hidden;
}
.searchWrp .block .head{
  background: #EEEFEF;
  height: 24px;
  padding: 0 6px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 10px;
}
.searchWrp .block ul{
  display: flex;
  width: 100%;
}
.searchWrp .block ul.column{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.searchWrp .block ul li{
  display: flex;
  flex: 1;
  margin: 0 2px;
  flex-direction: column;
  align-items: center;
  max-width: 72px;
  height: 64px;
}
.searchWrp .block ul.column li{
  flex-direction: row;
  max-width: 100%;
  color: #757B81;
  height: 36px;
}
.searchWrp .block ul.column li span{
  text-align: left;
}
.searchWrp .block ul li > div:first-child{
  overflow: hidden;
  margin: 6px;
}
.searchWrp .block ul li > i:first-child{
  margin: 8px 0;
}
.searchWrp .block ul li span{
  white-space: nowrap;
  font-size: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  width: 100%;
}
.searchWrp .block ul li small{
  display: flex;
  flex: none;
  font-size: 10px;
  margin: 0 6px;
}
.A path{
  fill: #8895A1!important;
}
.B path{
  fill: #60BF70!important;
}
.C path{
  fill: #EBC246!important;
}
.D path{
  fill: #F26161!important;
}
.E path{
  fill: #8669BF!important;
}
.F path{
  fill: #508EE6!important;
}
.G path{
  fill: #6CD9D9!important;
}
/*  */
.searchBox {
  min-height: 64px;
  padding: 12px 8px;
  width: 100%;
  background: #F6F6F7;
}
.searchBoxInner {
  min-height: 40px;
  padding: 0 8px 4px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #DDDFE0;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
}
.searchBox input{
  width: 100%;
  height: 32px;
  box-shadow: none;
  padding: 0 8px;
  border: none;
  min-width: 150px;
  font-size: 14px;
  width: 128px;
  align-self: center;
  margin-top: 4px;
  display: flex;
  flex: 1;
}
.searchBox input:focus{
  outline: none;
  border: none;
  box-shadow: none;
}
.queryChips {
  background: #323D47;
  border-radius: 7px;
  min-height: 32px;
  border: 1px solid rgba(255, 255, 255, .32);
  color: white;
  line-height: 18px;
  font-size: 13px;
  padding-left: 6px;
  display: flex;
  height: 32px;
  align-items: center;
  overflow: hidden;
  margin-right: 8px;
  align-self: center;
  margin-top: 4px;
  flex: none;
}
.queryChips .close{
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
}
/*  */

.post {
  background-color: white;
}